<!DOCTYPE html>
<html>
<head>
  <title>GlobomaxEmployees Application</title>
  <%= stylesheet_link_tag "../extjs/resources/css/ext-all.css" %>
  <%= stylesheet_link_tag "../extjs/resources/css/xtheme-gray.css" %>
  <%= stylesheet_link_tag "site.css" %>
  <%= javascript_include_tag "../extjs/adapter/ext/ext-base.js" %>
  <%= javascript_include_tag "../extjs/ext-all-debug.js" %>
  <%= javascript_include_tag "../extjs/src/locale/ext-lang-hu.js" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_tag "Ext.BLANK_IMAGE_URL = '#{Rails.root.to_s}/public/extjs/resources/images/default/s.gif';" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
